#titulo {
    color: teal;
}
p strong, a, tfoot, th[scope="row"] {
    color: red;
}

span.destacado, th strong, th.especial {
    color: darkorange;
}

#subtitulo {
    color: blue;
}

a {
    color: red;
}

a em {
    color: blue;
}

span.especial {
    color: fuchsia;
}

caption {
    color: blue;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td strong {
    color: darkorange;
}

tr td {
    color: green;
}

#adicional p {
    color:olive;
}

#especial {
    color:fuchsia;
}

#adicional a {
    color: green;
}